- if @homepage and Site.count > 1
  - content_for :page_scripts do
    :plain
      document.observe("dom:loaded", function(){
        var site_form = $("multisite-navigation");
        var site_select = $("multisite-select");
        var site_form_button = $("multisite-submit");
        if (!site_form || !site_select || !site_form_button || !site_form_action) return;
        site_form_button.hide();
        site_select.observe("change", function(e, site_form){
          var selected_site_action = '/admin/pages/site/' + $F(site_select);
          window.location = selected_site_action;
        }.bindAsEventListener(this, site_form));
      });

  #actions
    - form_tag '/admin/pages', :id => 'multisite-navigation', :method => :get do
      %ul
        %li
          %a
            %label{:for => :site_id} View site: 
            = select_tag :site_id, options_from_collection_for_select(Site.all, :id, :name, params[:site_id].to_i), :id => 'multisite-select'
            = submit_tag 'Go', :id => "multisite-submit"